body{
    background-color: white;
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*navigation*/
.main-nav{
    background-color: #003249;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    box-sizing: border-box;
    font-family: Arial;
}
.nav-logo{
    font-weight: bold;
    font-size: 16px;
}

nav a{
    padding: 12px 16px;
    display: inline-block;
    color: azure;
}
nav a:hover{
    background-color: #007EA7;
    color: #CCDBDC;
}

/*header*/
h1{
    text-align: center;
    background-color: #CCDBDC;
    color: #007EA7;
    height: 200px;
    margin: 0% ;
    padding: 45px;
    font-style: italic;
    line-height: 1.6;
}
.content{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 40px;
}
/*section1*/
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 800px;
    margin: 40px auto 20px;

}



/* 左邊圓形照片 */
.profile-photo {
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
}

/* 右邊基本資料 */
.profile-card {
  background-color: #9AD1D4;
  padding: 20px 30px;
  border-radius: 10px;
  flex: 1;                  
  max-width: 380px;         
  text-align: left;
}

.profile-card h3 {
  margin-top: 0;
  margin-bottom: 8px;
  color: #003249;
}

.profile-card ul {
  margin: 10px;
  padding-left: 15px;  
  line-height: 1.9;     
}
.card h3{
    margin-top: 60px;
    margin-bottom: 20px;
    color: #003249;
}
.card p{
    margin: 3;
    line-height: 1.6;
    text-indent: 4%;
}

/*section2*/

.skills {
    max-width: 800px;
    margin: 60px auto 70px;
    display: flex;
    gap: 30px;
    background-color: #9AD1D4;
    padding: 10px;
    border-radius: 10px;
}


.skill-card {
    flex: 1;
    background-color: #CCDBDC;
    padding: 10px 10px;
    border-radius: 12px;
}


.skill-card h3 {
    margin: 0 0 15px 0;
    color: #003249;
}


.skill-card ul {
    margin: 0;
    padding-left: 15px;
}

.skill-card li {
    margin-bottom: 8px;
}


.bar-item {
    margin-bottom: 9px;
}

.bar-item span {
    display: block;
    margin-bottom: 6px;
}


.bar {
    background-color: #eeeeee;
    height: 6px;
    border-radius:6px;
    overflow: hidden;
}


.bar-fill {
    height: 90%;
    background-color: #003249;
    border-radius: 6px;
}


/*經驗活動區*/
.exp-section {
  display: flex;
  gap: 15px;            
  max-width: 900px;
  margin: 60px auto 20px; 
  background-color: #9AD1D4; 
  padding: 10px;
  border-radius: 10px;
}


.exp-card {
  flex: 1;
  background-color: #CCDBDC; 
  border-radius: 12px;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
}


.exp-card img {
  width: 100%;
  height: 150px;        
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}


.exp-card h3 {
  margin: 4px 0 8px 0;
}
.exp-card h3 a{
    color: #003249;
}
.exp-card p {
  margin: 0;
  font-size: 13;
  line-height: 1.6;
}


@media (max-width: 800px) {
  .exp-section {
    flex-direction: column;
  }
}


/*footer*/

footer {
  background-color: #003249;   
  color: aliceblue;            
  text-align: center;
  padding: 16px 10px;
  width: 100%;
  box-sizing: border-box;
}


.footer-contact p {
  margin: 2px 0;
}


.footer-title {
  font-weight: bold;
  margin-bottom: 6px;
}


.footer-copy {
  margin-top: 8px;
  font-size: 12px;
  opacity: 0.8;
}


/*Top按鈕*/
.back-to-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 15px 15px;
    border-radius: 50%;
    color: white;
    background-color: #007EA7;
}